h3 {
    color: rgb(255, 255, 255);
}

.form-field {
    width: 100%;
}

.sign-up-button {
    margin-top: 20px;
}

.sign-in-link {
    border-top: solid 1px rgb(146, 143, 143);
    padding-top: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
