<h3>Create your E2E Messaging Account</h3>
<h4>Sign up</h4>
<form [formGroup]="signUpForm" (ngSubmit)="handleSubmit()">
    <mat-form-field class="form-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-hint
        class="validation-error"
        *ngIf="signUpForm.get('username')?.hasError('required')
         && signUpForm.get('username')?.touched">Username is required</mat-hint>
         <mat-hint
         class="validation-error"
         *ngIf="!signUpForm.get('username')?.hasError('required')
          && signUpForm.get('username')?.hasError('usernameTaken')
          && signUpForm.get('username')?.touched">Username is taken</mat-hint>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password">
        <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="clickPassword($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint
        class="validation-error"
        *ngIf="signUpForm.get('password')?.hasError('required')
        && signUpForm.get('password')?.touched"
        >Password is required</mat-hint>
        <mat-hint
        class="validation-error"
        *ngIf="!signUpForm.get('password')?.hasError('required')
        && signUpForm.get('password')?.hasError('minlength')
        && signUpForm.get('password')?.touched"
        >Password must be at least 25 characters long</mat-hint>
        <mat-hint
        class="validation-error"
        *ngIf="!signUpForm.get('password')?.hasError('required')
        && signUpForm.get('password')?.hasError('passwordLetterComplexity')
        && signUpForm.get('password')?.touched
        && !signUpForm.get('password')?.hasError('minlength')"
        >Must contain uppercase & lowercase characters</mat-hint>
        <mat-hint
        class="validation-error"
        *ngIf="!signUpForm.get('password')?.hasError('required')
        && signUpForm.get('password')?.hasError('passwordSpecialComplexity')
        && signUpForm.get('password')?.touched
        && !signUpForm.get('password')?.hasError('minlength')
        && !signUpForm.get('password')?.hasError('passwordLetterComplexity')"
        >Must contain a number, and a special character</mat-hint>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Repeat Password</mat-label>
        <input
            matInput
            [type]="hideRepeatPassword ? 'password' : 'text'"
            formControlName="repeatPassword">
        <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="clickRepeatPassword($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideRepeatPassword">
                <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint
        class="validation-error"
        *ngIf="signUpForm.hasError('passwordsMismatch')
        && signUpForm.get('repeatPassword')?.touched"
        >Passwords do not match</mat-hint>
    </mat-form-field>
    <button 
        type="submit"
        mat-flat-button
        color="accent"
        class="form-field sign-up-button">
        <span *ngIf="!isLoading">Create Account</span>
        <mat-spinner *ngIf="isLoading" diameter="25" color="warn"></mat-spinner>
    </button>
</form>
<div class="sign-in-link">
    Already have an account? 
    <a
        routerLink="/front/sign-in"
        routerLinkActive="active"
        style="padding-left: 5px;">Sign in
    </a>
</div>
