<mat-toolbar style="background-color: rgb(24, 51, 51);">
    <button mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>E2E Messaging</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
