<header>
    <app-header (showSideNavEmitter)="toggleSideNav()"></app-header>
</header>
<main>
    <mat-sidenav-container
        autosize
        class="sidenav-container">
        <mat-sidenav
            [opened]="showSideNav"
            class="sidenav"
            mode="over">
            @for (message of messages; track message) {
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>  
            } 
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <div #scrollableMessages class="messages">
                @for (message of messages; track message) {
                    <div class="message-card-box">
                        <mat-card class="message-card">
                            <mat-card-content>{{message}}</mat-card-content>
                        </mat-card>
                    </div>
                }     
            </div>
            <form class="example-form">
                <mat-form-field class="message-form">
                  <mat-label>Message</mat-label>
                  <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="6"
                    placeholder="Aa"></textarea>
                  <button
                    type="button"
                    mat-icon-button
                    matSuffix
                    (click)="sendMessage()">
                        <mat-icon fontIcon="arrow_circle_right"></mat-icon>
                    </button>
                </mat-form-field>
              </form>
        </mat-sidenav-content>
    </mat-sidenav-container>
</main>
